* {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style-type: none;
}

a:visited,
a:link,
a:focus,
a:hover,
a:active {
	list-style: none;
	text-decoration: none;
}

header {
	background: rgba(0, 0, 0, 0.72);
	width: 100%;
	/* margin: 0 auto; */
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	/* padding: 5px; */
}


.container-logo {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logotipo {
	width: 60%;
	display: flex;
}




/*GRUPO DE ICONOS DE REDES SOCIALES*/
.container-redes{
	width: 20%;
	display: flex;
}
.grupo-redes {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	align-items: center;
	width: 100%;
}

.grupo-redes li {
	/* margin-left: 20px; */

}

.fa,
.fab {
	font-size: 2em;
	color: #fff;
}

.fa-facebook {
	background-color: #ffffff;
	border: 3px solid #fff;
	border-radius: 100%;
	color: #023170;
}

.fa-instagram {
	background-color: #f09433;
	color: #fff;
	border-radius: 10px;
	border: 3px solid #f09433;

}

.fa-snapchat {
	color: #e6fc25;
	border-radius: 100%;
	background: #fff;
	border: 3px solid #fff;

}

.fa-youtube {
	background-color: #fff;
	border-radius: 30%;
	color: #f71d3e;
	border: 3px solid #fff;

}

.fa-twitter {
	background-color: #fff;
	border-radius: 100%;
	border: 3px solid #fff;
	color: #0473ea;
}


/*MENU Y BUSQUEDA*/
.menu-busqueda {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 10%;
	/* padding: 10px; */
}

@media min-width: